{% extends 'skazka_app/base.html' %}

{% load static %}

{% block content %}

<div class='main-content'>

    <div class='intro'>
        <h1>Здравствуйте!<h1>
        {% comment %} <audio
            controls
            src="/media/cc0-audio/t-rex-roar.mp3">
                Your browser does not support the
                <code>audio</code> element.
        </audio> {% endcomment %}
        <h2>Skazka is a free, interactive, media-based Russian textbook. </h2>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container-opacity">
            <h1 class="display-7">Get started</h1>
            <p class="lead">Watch this clip from Soyuzmultfilm's "The Snow Queen," then match the vocabulary words below. Learn the Cyrillic alphabet in chapter 1. Register to track your progress&nbsp;  <i class="fas fa-chart-line"></i></p>
        </div>

        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uK-YTOlM59w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class=vocab>

        <h2>Vocabulary</h2>
        <p>zdrav, zontik, pervii, vtoroi, gans christian anderson   </p>

    </div>

</div>

{% endblock %}